/* reset */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --header-h: 90px;
    --aside-w: 230px;
    --player-h: 90px;
    --white: #FFFFFF;
    --silver: #A3A3A3;
    --dim-gray: #6D6D6D;
    --raisin-black: #282828;
    --rich-black: #141922;
    --black: #000000;
    --green-yellow: #ADFF2F;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--rich-black);
}

.svg_white path {
    fill: var(--white);
}

.svg_grey path {
    fill: var(--dim-gray);
}

.dimgrey {
    color: var(--dim-gray);
}

.white {
    color: var(--white);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--dim-gray);
}

/* posizion */

header, main, aside, .player {
    position: fixed;
}

header {
    top: 0;
    left: 0;
    right: 0;
    height: var(--header-h);
    z-index: 3;
}

aside {
    top: 0;
    left: 0;
    bottom: var(--player-h);
    width: var(--aside-w);
    z-index: 6;
}

main {
    top: 0;
    left: var(--aside-w);
    right: 0;
    bottom: var(--player-h);
    z-index: 1;
}

.player {
    left: 0;
    right: 0;
    bottom: 0;
    height: var(--player-h);
    z-index: 9;
}

/* header */

header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: var(--black);
    opacity: 0.7;
}

.upgrade_btn {
    margin-inline: 1.5rem;
}

.upgrade_btn a {
    display: inline-block;
    padding: 0.9em 2.6em;
    border: 1px solid white;
    border-radius: 2.5em;
    color: var(--white);
}

.upgrade_btn a:hover {
    transform: scale(1.1);
}

/* aside */

aside {
    --padding-inline: 1.5rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: var(--black);
}

aside li a {
    padding: 0.4rem 0;
    padding-inline: var(--padding-inline);
    display: flex;
    align-items: center;
}

aside a:hover {
    color: var(--white);
}

aside a:hover path {
    fill: var(--white);
}

.menu span, .install span, .profile span {
    margin-inline-start: 10px;
}

.menu {
    margin-bottom: 1.75rem;
}

.icon svg {
    height: 1.5rem;
    width: 1.5rem;
}

.menu .active {
    position: relative;
}

.menu .active::before {
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    border-inline-start: 2px solid var(--green-yellow);
}

.menu .active a {
    color: var(--white);
}

.logo {
    height: var(--header-h);
    padding-inline: var(--padding-inline);
    display: flex;
    align-items: center;
}

.logo svg {
    height: 2.5rem;
    width: auto;
    margin-inline-end: 0;
}

.logo_small {
    display: none;
    padding-inline: 0.7rem;
}

.playlist {
    flex: 1 0 0;
    margin-bottom: 1rem;
}

.playlist li a {
    padding: 0.75rem 0;
    padding-inline: var(--padding-inline);
}

.playlist .title {
    font-size: 0.8rem;
    padding-inline: var(--padding-inline);
    color: var(--white);
}

.create_playlist a span {
    height: 2.25rem;
    width: 2.25rem;
    font-size: 2rem;
    font-weight: 700;
    margin-inline-end: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--silver);
    color: var(--black);
}

.create_playlist a:hover span {
    background-color: whitesmoke;
}

.install a {
    display: flex;
    align-items: center;
    padding-inline: var(--padding-inline);
}

.install svg {
    height: 1.2rem;
    width: 1.2rem;
}

.install path {
    width: 100%;
}

.install::after {
    content: " ";
    display: block;
    margin: 0.75rem 1.5rem 0.25rem;
    border-bottom: 1px solid var(--dim-gray);
}

.profile a {
    padding: 0.5rem 0;
    padding-inline: var(--padding-inline);
    display: flex;
    align-items: center;
    font-weight: 700;
    color: var(--white);
}

.profile svg {
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 50%;
    background-color: var(--dim-gray);
}

/* aside media */

@media (max-width: 600px) {
    :root {
        --aside-w: 50px;
    }

    aside {
        --padding-inline: 0.7rem;
    }

    aside li {
        margin-bottom: 0.5rem;
    }

    .icon svg {
        width: 100%;
    }

    .menu span, .install span, .profile span {
        display: none;
    }

    .menu {
        flex: 1 0 0;
        padding-top: 0.5rem;
    }

    .logo, .playlist, .menu .active::before, .install::after {
        display: none;
    }

    .logo_small {
        display: block;
    }
}

/* main */

main {
    padding-top: var(--header-h);
    overflow-y: scroll;
}

.navbar {
    font-size: 0.8rem;
    padding: 1.4rem 2.4rem;
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    flex-wrap: wrap;
}

.navbar a {
    display: block;
    padding: 0.5rem 0.25rem;
}

.navbar a:hover {
    color: var(--white);
}

.navbar .active {
    position: relative;
}

.navbar .active::after {
    content: " ";
    display: block;
    position: absolute;
    left: 35%;
    right: 35%;
    bottom: 0;
    border-bottom: 2px solid var(--green-yellow);
}

/* album reset */

.album {
    --card: 6;
    --gap: 1rem;
    padding: 0 1.5rem;
    margin-bottom: 2.5rem;
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap);
}

.main_title {
    flex: 0 0 100%;
}

.main_title h2 {
    color: var(--white);
    margin-bottom: 0.3rem;
}

.main_title p {
    font-size: 0.9rem;
    font-weight: 400;
    margin-bottom: 0.5rem;
    color: var(--dim-gray);
}

.card {
    flex: 0 0 calc((100% - (var(--card) - 1) * var(--gap)) / var(--card));
    text-align: center;
}

.card a {
    display: block;
}

.card_img {
    position: relative;
    margin-bottom: 1.2rem;
}

.card_img:hover::before {
    content: " ";
    position: absolute;
    inset: 0;
    background-color: var(--black);
    opacity: 0.5;
}

.card_img img {
    display: block;
    width: 100%;
    aspect-ratio: 1 / 1;
}

.card_img:hover::after {
    content: " ";
    display: block;
    position: absolute;
    inset: 0;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 384 512' fill='%23ffffff'%3E%3C!--! Font Awesome Pro 6.3.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --%3E%3Cpath d='M73 39c-14.8-9.1-33.4-9.4-48.5-.9S0 62.6 0 80V432c0 17.4 9.4 33.4 24.5 41.9s33.7 8.1 48.5-.9L361 297c14.3-8.7 23-24.2 23-41s-8.7-32.2-23-41L73 39z'/%3E%3C/svg%3E");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 25%;
}

.card h3 {
    font-size: 1rem;
    margin-bottom: 0.5rem;
    color: var(--white);
}

/* artist card */

.artists .card_img {
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    overflow: hidden;
}

/* main media */

@media (max-width: 1100px) {
    .recent {
        --card: 4;
    }
}

@media (max-width: 700px) {
    .recent {
        --card: 2;
    }
}

/* player */

.player {
    display: flex;
    align-items: center;
    padding-inline: 1rem;
    gap: 1rem;
    background-color: var(--raisin-black);
}

.song, .options {
    flex: 0 0 calc(25% - 1rem);
    display: flex;
    align-items: center;
    gap: 0.3rem;
}

.controls {
    flex: 1 0 0;
}

.player a i:hover {
    color: var(--white);
}

.player a i {
    padding: 0.3rem;
}

/* song */

.song {
    align-items: center;
}

.song_img img {
    width: 2.5rem;
    aspect-ratio: 1 / 1;
}

.song_options {
    flex: 1 0 0;
    text-align: end;
}

.song_name h3 {
    font-size: 1rem;
}

.song_name p a {
    display: block;
    font-size: 0.8rem;
}

.song_name a:hover {
    color: var(--white);
    text-decoration: underline;
}

/* controls */

.controls .buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
}

.controls .buttons i, .options i {
    color: var(--white);
}

.controls .buttons i {
    font-size: 1.3rem;
}

.controls .buttons .xl i {
    font-size: 2rem;
    padding: 0.4rem;
}

.time {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
    color: var(--white);
}

.time .line {
    width: 50%;
    min-width: 8rem;
    background-color: var(--dim-gray);
}

.time .line>div {
    width: 9%;
    border: 3px solid var(--white);
}

.line:hover {
    cursor: pointer;
}

/* options */

.options .line {
    min-width: 4rem;
    flex: 1 0 0;
    background-color: var(--dim-gray);
}

.options .line div {
    width: 25%;
    border: 3px solid var(--white);
}